  .aboutPage {
    text-align: center;
    padding: 20px;
  }

  .title {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
  }
  
  .profileImage {
    width: 300px;  /* Adjust size as needed */
    height: auto;
    border-radius: 8px;  /* Optional: Rounds corners */
    margin-bottom: 20px;
  }
  
  .contentContainer {
    display: flex;
    justify-content: center;
  }

  .description {
    font-size: 1.2rem;
    color: #333;  /* Dark grey for readability */
    line-height: 1.6;  /* Increases line height for better readability */
    max-width: 50%;
    text-align: left;
  }

  @media only screen and (max-width: 768px) {
    .description {
      max-width: 100%;
    }
  }