.homepage-container {
    text-align: center;
    background-color: white;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  .homepage-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: maroon;
    color: rgb(151, 134, 35);
  }
  
  .logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
  }
  
  .title {
    font-size: 2.5em;
    margin: 0;
  }
  
  .motto-contact {
    margin: 20px 0;
  }
  
  .motto {
    font-size: 1.5em;
    color: white;
  }
  
  .contact {
    font-size: 2 em;
    color: black;
    font-weight: bold;
  }
  
  .frontpage-image {
    margin-top: 20px;
  }
  
  .frontpage-img {
    width: 100%;
    max-width: 1200px;
    height: auto;
    border: 5px solid black;
  }
  .full-width-image {
    width: 100%;
    height: auto;  
    display: block;
    margin: 0;
    padding: 0;
  }
  